* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* Startmenu--------------------------------------------- */



.phone-icon {
    position: fixed;
    font-size: 40px;
    top: 5px;
    left: 10px;
    z-index: 5;
    cursor: pointer;
    color: rgb(114, 26, 114);
}

.phone-icon:hover::after {
    visibility: visible;
}

.phone-icon::after {
    background-color: lightblue;
    padding: 2px;
    border-radius: 10px;
    visibility: hidden;
    font-size: 20px;
    content: '790-350-922';
    color: black;

}

.menu {
    position: fixed;
    display: none;
    width: 100%;
    list-style: none;
    padding: 10px 20px;
    z-index: 1;
    background-color: rgb(120, 152, 248);
    ;
}

.menu a {
    font-size: 20px;
}

.menu a:hover {
    color: white;
    text-decoration: none;
}

.show-after-scroll {
    position: fixed;
    display: flex;
    justify-content: flex-end;
    z-index: 1;
}

.company-logo {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}

li {
    list-style: none;
}


.dropdown-menu {
    display: none;
    font-size: 1px;
    position: static;
    float: none;
    background-color: transparent;
    border: none;


}

.dropdown-menu a {
    animation: expandingFont 2s;
}

.active {
    display: block;
}

a {
    display: block;
    font-size: 1.1rem;
    padding: 4px 20px;
    text-align: center;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}


/* .hov {
} NA WYPADEK JAK BY TRZEBA BYLO DAC ANIMACJE*/

@keyframes expandingFont {
    0% {
        font-size: 0px;
    }

    50% {
        font-size: 18px;
    }
}

.burger {
    z-index: 2;
    position: fixed;
    right: 00;
    width: 55px;
    height: 40px;
    margin: 20px auto;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;

}

.burger span {
    display: block;
    position: absolute;
    height: 5px;
    width: 80%;
    background: black;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
    background-color: rgb(114, 26, 114);
}

.burger span:nth-child(1) {
    top: 0px;
}

.burger span:nth-child(2) {
    top: 18px;
}

.burger span:nth-child(3) {
    top: 36px;
}

.burger.open span:nth-child(1) {
    top: 18px;
    transform: rotate(135deg);
}

.burger.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}

.burger.open span:nth-child(3) {
    top: 14px;
    transform: rotate(-135deg);
}


.burger span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.burger span:nth-child(2) {
    top: 18px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}
}

.burger span:nth-child(3) {
    top: 36px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.burger.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -3px;
    left: 8px;
}

.burger.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}

.burger.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}


.big-logo img {
    width: 100%;
}

@media(max-width:1301px) {
    .light-menu {
        display: none;
    }


}

@media(min-width:1300px) {
    .burger {
        display: none;
    }

    .big-logo {
        display: none;
    }



}

/* Endmenu--------------------------------------------- */

/* startHeader----LIGHT--------------------------------------- */
.main-header {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: transparent url('img/background.png') calc(50% + 400px) calc(50% + 200px) repeat;
    color: white;
}

.light-menu {
    position: relative;
    width: 800px;
    height: 300px;
}

.light-menu__main,
.light-menu__item {
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-weight: bold;
    text-align: center;
    width: 40%;
}

.light-menu__main {
    font-size: 52px;
    text-shadow: 0 0 20px #fff;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}

.light-menu__item {
    font-size: 28px;
    mix-blend-mode: hard-light;
    cursor: pointer;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}

.light-menu__item:hover {
    text-shadow: 0 0 10px #fff;
}

.light-menu__item:hover~.light-menu__main {
    text-shadow: 0 0 10px #fff, 0 0 40px #fff, 0 0 60px #1478fa;
}


/* endHeader---------------------------------------------- */


/* iconStart------------------------------------------ */
.icon-content {
    font-size: 3rem;
    padding: 20px;
}

.icon-content i {
    text-align: center;
    position: relative;
    z-index: 0;
    width: 100px;
    height: 100px;
    line-height: 100px;

}

.icon-content i::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    background-color: lightblue;


}

/* iconEnd------------------------------------------------ */

.project-img {
    width: 100%;
}

a {
    text-decoration: none;
}

button.btnn a:hover {
    color: white;
    text-decoration: none;
}

button.btnn {
    width: 70%;
    border: 2px solid black;
    background-color: rgba(0, 147, 204, .54);
    border-radius: 10px;
}

.footer-information {


    padding: 20px;
    font-size: 20px;
}



@media(min-width:998px) {
    .footer-information.right {
        border-left: 2px solid white;
    }
}

h5 {
    font-size: 30px;
}

.container-fluid {
    padding-top: 20px;
    background-color: rgb(120, 152, 248);

}

.shadow {
    -webkit-box-shadow: 0px 0px 31px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 31px -4px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 31px -4px rgba(0, 0, 0, 0.75);
}